<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my">

	<select id="userMyList" resultType="dto.UserDTO">
	<![CDATA[
		SELECT usr_id, kakao_id, usr_name, usr_pw ,usr_ip, usr_gender, usr_char, usr_points,
		usr_level, usr_code, usr_coins, usr_cash, usr_water,usr_fire,usr_earth,usr_wind,usr_nslots
		usr_wins,usr_losses,usr_ko,usr_down,usr_scroll1, usr_scroll2, usr_scroll3,usr_mission, usr_admin,
		usr_type, usr_hwid, usr_bonus, time,usr_last_login,usr_guildname, usr_guildduty, usr_supporters,
		bandate,banstate, chatBan ,create_date
		FROM users WHERE usr_admin < 7 ORDER BY usr_id DESC
		LIMIT #{startRow}, #{blockCount}
	]]>
	</select>
	
	<select id="userMyListCount" resultType="int">
	<![CDATA[
		SELECT count(*) FROM users WHERE usr_admin < 7
	]]>
	</select>

	<select id="myInformation" parameterType="String" resultType="dto.UserDTO">
		SELECT usr_id, kakao_id, usr_name, usr_pw ,usr_ip, usr_gender, usr_char, usr_points,
		usr_level, usr_code, usr_coins, usr_cash, usr_water,usr_fire,usr_earth,usr_wind,usr_nslots
		usr_wins,usr_losses,usr_ko,usr_down,usr_scroll1, usr_scroll2, usr_scroll3,usr_mission, usr_admin,
		usr_type, usr_hwid, usr_bonus, time,usr_last_login,usr_guildname, usr_guildduty, usr_supporters,
		bandate,banstate, chatBan ,create_date
		FROM users
		WHERE
		usr_name = #{usr_name}
	</select>
	
	<select id="infoRank" resultType="int">
	<![CDATA[
	SELECT COUNT(*)+1 from USERS where usr_points > (
		SELECT usr_points FROM users WHERE usr_name = #{usr_name} AND usr_admin < 7
	)
	]]>
	</select>
	
		
	<select id="homeLikeCheck" resultType="int">
		SELECT count(*) FROM z_my_like
		WHERE usr_id = #{usr_id} AND like_usr_id = #{like_usr_id}
	</select>
	
	<insert id="homeLikeInsert" parameterType="java.util.HashMap">
		INSERT INTO z_my_like ( usr_id, usr_name, like_usr_id, like_usr_name, like_type )
		VALUES (
			#{usr_id, jdbcType=INTEGER}, #{usr_name, jdbcType=VARCHAR},
			#{like_usr_id, jdbcType=INTEGER}, #{like_usr_name, jdbcType=VARCHAR},
			#{like_type, jdbcType=INTEGER}
		)
	</insert>
	
	<delete id="homeLikeDelete" parameterType="java.util.HashMap">
		DELETE FROM z_my_like WHERE usr_id = #{usr_id} AND like_usr_id = #{like_usr_id}
	</delete>

	<select id="homeLikeCount" resultType="int">
		SELECT count(*) FROM z_my_like
		WHERE like_usr_id = #{like_usr_id}
	</select>
	
	<select id="homeGuestBookList" resultType="dto.GuestBookDTO">
		SELECT * FROM z_guest_book WHERE guest_category = 1 AND type_id = #{type_id} AND guest_del = 0 ORDER BY guest_date ASC;
	</select>
	
	<select id="homeGuestBookList2" resultType="dto.GuestBookDTO">
	<![CDATA[
		SELECT gb_id,guest_category, type_id, guest_writer,
		tag_name, guest_content, guest_date, guest_del
		FROM z_guest_book
		WHERE  guest_date > DATE_SUB(now(), INTERVAL 1 DAY) AND guest_category = 1 AND type_id = #{type_id} AND guest_del = 0 ORDER BY guest_date ASC LIMIT #{startRow}, #{lastRow}
	]]>
	</select>
	
	<select id="homeGuestBookCount" resultType="int">
	<![CDATA[
		SELECT count(*)
		FROM z_guest_book
		WHERE guest_category = 1 AND type_id = #{type_id} AND guest_del = 0
	]]>
	</select>
	
	<select id="homeUserChar" resultType="int">
		SELECT usr_char FROM users WHERE usr_name = #{usr_name}
	</select>
	
	<insert id="homeGuestBookInsert" parameterType="dto.GuestBookDTO" >
		INSERT INTO z_guest_book (guest_category, type_id, guest_writer, tag_name, guest_content)
		VALUES(#{guest_category, jdbcType=INTEGER}, #{type_id, jdbcType=INTEGER}, #{guest_writer, jdbcType=VARCHAR}, #{tag_name, jdbcType=VARCHAR}, #{guest_content, jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="homeGuestBookDelete" parameterType="dto.GuestBookDTO">
		UPDATE z_guest_book SET guest_del = 1 WHERE gb_id = #{gb_id}
	</update>
	
	<select id="userSearch" parameterType="java.util.HashMap" resultType="dto.UserDTO">
		SELECT *
		FROM users
		WHERE
		<choose>
			<when test="option == 'userSearchName'">
				usr_name
			</when>
		</choose>
		LIKE CONCAT ('%', #{keyword}, '%')
	<![CDATA[
		AND usr_admin < 7
		ORDER BY usr_id DESC
		LIMIT #{startRow}, #{blockCount}
	]]>
	</select>
	
	<select id="userSearchCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(*) FROM users WHERE
		<choose>
			<when test="option == 'userSearchName'">
				usr_name
			</when>
		</choose>
	
		LIKE CONCAT ('%', #{keyword}, '%')
	<![CDATA[
		AND usr_admin < 7
	]]>
	</select>
	
	<select id="userOnlineState" resultType="int">
		SELECT count(*) FROM active_list WHERE usr_name = #{usr_name}
	</select>
	
	<select id="userLoginCheck" resultType="int">
		SELECT count(*) FROM users WHERE usr_name = #{usr_name} AND BINARY(usr_pw) = #{usr_pw}
	</select>
	
	<select id="userNowEquipMagic" resultType="dto.UserNowEquipDTO">
		SELECT itm_id, itm_type, DATEDIFF(itm_gf, NOW()) AS itm_gf, itm_level, itm_skill
		FROM equipments
		INNER JOIN items
		WHERE itm_usr_id = #{itm_usr_id} AND usr_id = #{usr_id} AND itm_slot = eqp_mag
	</select>
	
	<select id="userNowEquipWeapon" resultType="dto.UserNowEquipDTO">
		SELECT itm_id, itm_type, DATEDIFF(itm_gf, NOW()) AS itm_gf, itm_level, itm_skill
		FROM equipments
		INNER JOIN items
		WHERE itm_usr_id = #{itm_usr_id} AND usr_id = #{usr_id} AND itm_slot = eqp_wpn
	</select>
	
	<select id="userNowEquipArm" resultType="dto.UserNowEquipDTO">
		SELECT itm_id, itm_type, DATEDIFF(itm_gf, NOW()) AS itm_gf, itm_level, itm_skill
		FROM equipments
		INNER JOIN items
		WHERE itm_usr_id = #{itm_usr_id} AND usr_id = #{usr_id} AND itm_slot = eqp_arm
	</select>
	
	<select id="userNowEquipPet" resultType="dto.UserNowEquipDTO">
		SELECT itm_id, itm_level, itm_skill, itm_type, DATEDIFF(itm_gf, NOW()) AS itm_gf
		FROM equipments
		INNER JOIN items
		WHERE itm_usr_id = #{itm_usr_id} AND usr_id = #{usr_id} AND itm_slot = eqp_pet
	</select>
	
</mapper>